<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <style>
        .comment-form {
            display: none;
        }
        .depth-0 {
            margin-left: 0px;
        }
        .depth-1 {
            margin-left: 8px;
        }
        .depth-2 {
            margin-left: 20px;
        }
        .depth-3 {
            margin-left: 30px;
        }
        .depth-4 {
            margin-left: 40px;
        }
    </style>
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<div>
    <h4 th:text="${post.title}"></h4>
    <p th:text="${post.content}"></p>
    <p th:text="${post.post_writer.nickname}"> </p>
</div>

<div th:if="${not results.empty}">
    <div th:each="i: ${results}">
        <div th:class="'depth-'+${i.depth}"style="border: 1px solid grey;" th:id="${i.id}">
                <p th:text="${i.content}"></p>
                <p th:text="${i.id}+'번째 id 댓글'"></p>
            <button th:onclick="toggleCommentForm('recomment_div_id_' + [[${i.id}]])">대댓글 작성하기</button>
            <div th:id="recomment_div_id_+${i.id}" class="comment-form">
                <form th:action="@{'/detail/'+${post.id}}" method="POST">
                    <input type="hidden" name="parent_comment_id" th:value="${i.id}">
                    <input type="text" name="content">
                    <input type="submit" value="대댓글 작성">
                </form>
            </div>
        </div>
    </div>
</div>

<div th:if="${user != null}">
    <form th:action="@{'/detail/'+${post.id}}" method="POST">
        <input type="hidden" value="0" name="parent_comment_id">
        <input type="text" name="content">
        <input type="submit" value="댓글작성">
    </form>
</div>

<div th:if="${not results.empty}">
    <div>
        <ul class="pagination">
            <!-- Previous button -->
            <li th:if="${currentPage > 1}">
                <a th:href="@{'/detail/'+${post.id}}">첫 페이지</a>
            </li>

            <!-- Page numbers -->
            <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${pageNum != currentPage}" th:href="@{'/detail/' + ${post.id} + '?comment_page=' + ${pageNum}}" th:text="${pageNum}"></a>
                <span th:if="${pageNum == currentPage}" th:text="${pageNum}" class="active"></span>
            </li>

            <!-- Next button -->
            <li th:if="${currentPage < totalPages  && endPage >= currentPage +10}">
                <a th:href="@{'/detail/' + ${post.id} + '?comment_page=' + ${currentPage + 10}}">다음 페이지</a>
            </li>

            <li th:if="${currentPage < totalPages && endPage < currentPage +10}">
                <a th:href="@{'/detail/' + ${post.id} + '?comment_page=' + ${endPage}}">다음 페이지</a>
            </li>

        </ul>
    </div>
</div>

<script>
    function toggleCommentForm(id) {
        var commentForm = document.getElementById(id);
        if (commentForm.style.display === "none" || commentForm.style.display === "") {
            commentForm.style.display = "block";
        } else {
            commentForm.style.display = "none";
        }
    }
</script>

</body>
</html>