<div class="nav" th:fragment="navbar">
    <div>
        <a class="logo" href="/list/1">Spring_Board</a>
        <a href="/create">Write</a>
    </div>

    <div>
        <form action="/search" method="GET">
            <input type="text" name="keyword" placeholder="검색창">
            <input type="submit" value="검색">
        </form>
    </div>

    <div th:if="${user == null}">
        <a href="/user/login">로그인하기</a>
        <a href="/user/signup">회원가입하기</a>
    </div>

    <div th:if="${user != null}">
        <a href="/user/mypage/post/1">내 정보보기</a>
        <a href="/user/logout">로그아웃하기</a>
    </div>

</div>